/* src/PDFViewer.css */

.pdf-viewer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pdf-viewer canvas {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  border-radius: 5px;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button {
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.rpv-default-layout__sidebar-headers {
  /* background-color: #91d2d5; */
  background-color: #163a4f !important;
  padding: .25rem;
}

.rpv-default-layout__toolbar {
  background-color: #163a4f !important;
  /* background-color: #162d4f !important; */
}
.rpv-default-layout__sidebar--ltr {
  border-right: none !important;
}
.rpv-core__icon {
  stroke-width: 2px !important;
  filter: invert(1);
}
.rpv-default-layout__toolbar span{
  color: #fff;
}
.rpv-zoom__popover-target-arrow {
  border-color: rgb(255 255 255) rgb(0 0 0 / 0%) rgba(0, 0, 0, 0) !important;
}