.profile-side {
    background-size: 100% 100%;
}

.profile-container {
    height: 100vh;
    background-size: cover;
}

.profile-div {
    background-size: 100% 100%;
    height: 100%;
    /* width: 100%; */
    /* padding: 60px; */
    overflow-y: scroll;
}

.profile-img {
    box-shadow: 0px 10px 60px -3px rgba(0, 0, 0, 0.99);
    border-radius: 50px;
}

.profile-input::placeholder {
    background-color: transparent;
    color: #91d2d5;
}

.profile-input {
    background-color: transparent;
    font-family: inter;
    font-size: 13px;
    font-weight: 500;
    border-radius: 50px;
    padding: 15px 25px;
}

.profile-left-side {
    background-image: url('../../assets/images/side-bg-min.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.search-input {
    opacity: 0;
    width: 0;
    transition: 0.3s ease-in-out;
    background: #fff;
    color: #fff;
    border-radius: 25px !important;
}


.search-btn {
    cursor: pointer;
}

.search-active {
    opacity: 1;
    width: fit-content;
}

.doc-category-box {
    background-image: url('../../assets/images/doc-cat-ico.png');
    background-size: 100% 100%;
}

.photo-category-box {
    background-image: url('../../assets/images/photo-cat-ico.png');
    background-size: 100% 100%;
}

.video-category-box {
    background-image: url('../../assets/images/video-cat-ico.png');
    background-size: 100% 100%;
}

.category-box {
    width: 380px;
    height: 200px;
    color: #333;
}

.category-box h3 {
    left: 10px;
    top: 5px;
}

@media(max-width:1000px) {
    .profile-left-side {
        background-image: unset;
    }

    .sweet-btn {
        padding: 10px !important;
    }

    .profile-img {
        width: 100% !important;
        border-radius: 0 0 200px 200px;
        box-shadow: none;
    }

    .category-box {
        width: 340px;
        height: 170px;
        margin-top: 20px;
    }
    .category-box {
        width: 340px !important;
        height: 180px !important;
        color: #333;
    }
    .profile-container {
        height: fit-content;
        background-size: cover;
    }
}
@media(min-width:1420px){
    .card-img-top {
        max-width: 100% !important;
        max-height: 200px !important;
        object-fit: cover;
    }
    .card {
        max-width: 100% !important;
        /* max-width: 250px; */
        border-radius: 21px;
        overflow: hidden;
    }
    .mt-lg-5.row.row-cols-lg-3.row-cols-2.w-100 .p-2{
        max-width: 100% !important;
    }
}