.home-container {
    height: 100vh;
}

.home-div {
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    padding: 60px;
    padding-top: 0;
    overflow-y: scroll;
}

.home-content {
    max-width: 70%;
}

.home-content h1 {
    line-height: 1.7;
    font-size: 80px;
}

@media(max-width:768px) {
    .home-content {
        max-width: 100%;
    }

    .home-content h1 {
        line-height: 1.7;
        font-size: 40px !important;
    }

    .home-div {
        padding: 20px;
        background-size: cover;
    }
}