/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
    margin: 0;
    background-repeat: no-repeat;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
    8. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: abhaya;
    src: url(../fonts/AbhayaLibre-ExtraBold.ttf);
    font-weight: 900;
}

.fw-extra-bold {
    font-weight: 900;
}

@font-face {
    font-family: abhaya;
    src: url(../fonts/AbhayaLibre-Bold.ttf);
    font-weight: 800;
}

.fw-bold {
    font-weight: 800;
}

@font-face {
    font-family: abhaya;
    src: url(../fonts/AbhayaLibre-SemiBold.ttf);
    font-weight: 700;
}

.fw-semi-bold {
    font-weight: 700;
}

@font-face {
    font-family: abhaya;
    src: url(../fonts/AbhayaLibre-Medium.ttf);
    font-weight: 600;
}

.fw-medium {
    font-weight: 600;
}

@font-face {
    font-family: abhaya;
    src: url(../fonts/AbhayaLibre-Regular.ttf);
    font-weight: 500;
}

.fw-regular {
    font-weight: 500;
}

@font-face {
    font-family: inter;
    src: url(../fonts/Inter_18pt-Light.ttf);
    font-weight: 500;
}

@font-face {
    font-family: inter;
    src: url(../fonts/Inter_18pt-Medium.ttf);
    font-weight: 600;
}

@font-face {
    font-family: inter;
    src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf);
    font-weight: 700;
}

.f-inter {
    font-family: inter;
}

html,
body {
    font-family: abhaya;
    overflow-x: hidden;
}

:root {
    --primaryColor: #91d2d5;

}

.primaryColor {
    color: var(--primaryColor);
}

.primaryColorDark {
    color: #6c9c9f;
}

/* butoons */
.sweet-btn {
    cursor: pointer;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17px 30px;
    gap: 3px;
    background-color: #837f7d;
    color: #00696D;
    font-family: inter;
    font-weight: 700;
    transition: 0.3s ease-in-out;
    -webkit-box-shadow: inset 1px 2px 5px 1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: inset 1px 2px 5px 1px rgba(0, 0, 0, 0.33);
    box-shadow: inset 1px 2px 5px 1px rgba(0, 0, 0, 0.33);
}

.sweet-btn img {
    transition: 0.3s ease-in-out;
}

.sweet-btn:hover {
    background-color: #00696D;
    color: #fff;
}

.sweet-btn:hover img {
    filter: brightness(2);
}

.sweet-btn-v2:hover img {
    filter: brightness(20);
}

.form-control:focus {
    box-shadow: none;
    border-color: transparent;
}

.sweet-btn-v2 {
    background-color: #91d2d5;
    color: #333;
    padding: 12px 28px;
    border: none;
}

.fs-1 {
    font-size: 3.5rem !important;
}

.large-shadow {
    box-shadow: rgba(0, 0, 0, 0.76) 0px 22px 70px 4px;
}

.br-25 {
    border-radius: 25px;
}

.search-input-v2:focus {
    background: transparent;
    color: #fff;
}